@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

.error-msg {
    color: red;
    font-size: 12px;
    font-weight: 600;
}

@media(max-width: 768px) {
    .mybtn {
        width: 100%;
    }
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', serif;
}

/* navbar */
.navbox {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #000;
}

.navbox .links span{
    margin-right: 25px;
    color: #010207;
    font-size: 16px;
}

.navbox .links span a{
    color: #fff;
    font-family: 'Raleway';
    font-size: 18px;
}

.navbox .leftside {
    flex-direction: row;
    height: 70px;
}

.navbox .leftside img {
    height: 100%;
}

.navbox .rightside {
    font-size: 12px;
    font-weight: 600;
    position: relative;
}

.navbox .rightside span {
    margin-right: 10px;
}

.navbox .rightside span .navlink {
    text-decoration: none;
    color: #fff;
}

.navbox .rightside .no-of-products {
    background: #f57224;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside button{
    margin-left: 10px;
    margin-right: 10px;
}

.navboxMobile {
    display: flex;
    width: 100%;
    z-index: 2;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000;
}

.navboxMobile .leftside {
    flex-direction: row;
    width: 70px;
    height: 70px;
}

.navboxMobile .leftside img {
    height: 100%;
}

.navboxMobile .rightside {
    font-size: 12px;
    font-weight: 600;
    position: relative;
}

.navDropDownMenu {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 0;
    top: 89px;
    background-color: #000;
    width: 100vw;
    height: calc(100vh - 89px)
}

.navDropDownMenu span {
    margin-top: 5px;
    margin-bottom: 5px;
}


@keyframes openMenu {
    from {
        right: -500px;
    } to {
        right: 0px
    }
}

@keyframes closeMenu {
    from {
        right: 0px
    } to {
        right: -500px;
    }
}

/* login */

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../src/images/background.jpg');
    background-position: center;
    background-size: cover;
}

@media(max-width: 1200px) {
    .loginContainer {
        background-image: url('../src/images/backgroundMobile.jpg');
    }
}

/* shopnow */
.shopnow {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../src/images/background.jpg');
    background-position: center;
    background-size: cover;
}

.shopnow .textContainer .title {
    margin-left: 150px;
    margin-bottom: 24px;
    white-space: pre-line;
    font-size: 60px;
    color: #fff;
    font-family: 'Raleway';
    line-height: 80px;
    font-weight: 600;
}

.shopnow .bodytext {
    margin-bottom: 40px;
    margin-left: 150px;
    white-space: pre-line;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    /* color: #AFAFBE; */
    color: #fff;
}


@media(max-width: 668px) {
    .shopnow .textContainer .title {
        font-size: 40px;
        margin-top: 100px;
        line-height: 50px;
    }
    .shopnow .textContainer div {
        margin-left: 25px !important;
    }
}

@media(max-width: 1200px) {
    .shopnow {
        background-image: url('../src/images/backgroundMobile.jpg');
    }
}

/* category */

.categoryButtons:hover {
    transform: scale(105%);
    background-color: #f16a28;
    color: #000 !important;
}

.categoryButtons:active {
    transform: scale(100%) !important;
    background-color: #f16a28 !important;
}

.categoryButtons:focus {
    transform: scale(100%) !important;
    background-color: #f16a28 !important;
}

.categoryButtons a:hover {
    color: #000 !important;
}

@media (max-width: 1200px) {
    .categoryContainer {
        justify-content: space-around !important;
    }
    .categoryContainer .leftText, .categoryContainer .rightText {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

}

@media (max-width: 1000px) {
    .categoriesContainer {
        flex-direction: column !important;
    } 
    .categoryButtons {
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    } 
}

/* products */

.products-container {
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.products-container .product-card {
    width: 300px;
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    transition-duration: 0.5s;
}

.products-container .product-card:hover {
    transform: scale(110%);
}

.products-container .product-card:active {
    transform: scale(100%);
}

.products-container .product-card .product-img {
    width: 100%;
}

.products-container .product-card .product-img img {
    width: 100%;
    height: 100%;
}

.products-container .product-card .product-name {
    display: block;
    width: 100%;
    color: #FEFEFE;
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Raleway';
}

.products-container .product-card .product-price {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Inter';
    font-size: 16px;
    color: #FEFEFE;
}

/* cart */
.cart-container {
    background-color: #010207;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
}

.cart-container .cart-card {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #f16a28;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: #201F1F;
}

.cart-container .cart-card .changeCount {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-around;
    align-items: center;

}



.cart-container .cart-card .cart-img {
    width: 15%;
    padding: 10px;
}

@media(max-width: 768px) {
    .cart-container .cart-card .cart-img {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}

.cart-container .cart-card .cart-img img {
    width: 100%;
    height: 100%
}

.cart-container .cart-card .cart-name,
.cart-container .cart-card .cart-price {
    color:#fff;
    width: 150px;
    margin-left: 20px;
}

@media(max-width: 768px) {

    .cart-container .cart-card .cart-name,
    .cart-container .cart-card .cart-price {
        width: 90%;
        margin-left: 0px;
        text-align: center;
        margin-top: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.cart-container .cart-card .cart-price-orignal {
    width: 150px;
    margin-left: 20px;
    color: #f57224;
}

@media(max-width: 768px) {

    .cart-container .cart-card .cart-price-orignal {
        width: 90%;
        margin-left: 0px;
        text-align: center;
        margin-top: 4px;
    }
}

.delete-btn {
    background-color: transparent;
    border: hidden;
    outline: none;
    cursor: pointer;
    color: red;
}

.inc,
.dec {
    cursor: pointer;
}

@media(max-width: 768px) {
    .delete-btn {
        margin-top: 4px;
    }

    .inc,
    .dec {
        margin-top: 4px;
    }
}

/* cart summary */
.cart-summary {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid #F16A28;
    border-radius: 12px;
    width: 300px;
    background-color: #201F1F;
}

.cart-summary .cart-summary-heading {
    border-bottom: 1px solid #f57224;
}

.cart-summary .cart-summary-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cashout-link {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

@media (max-width:1200px) {
    .cashoutContainer {
        flex-direction: column !important;
    }
}



/* cashout */
.success-msg {
    background-color: green;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
}

.success-msg .home-link {
    color: #fff;
}

/* adminPanel */

.addProducts {
    margin-top: 50px;
    font-family: 'Raleway';
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.addProducts .inputContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.addProducts .inputContainer input {
    border: 1px solid #e4e4e4;
    padding: 5px;
}
.addProducts .inputContainer select {
    border: 1px solid #e4e4e4;
    padding: 5px;
}
.addProducts .inputContainer textarea {
    border: 1px solid #e4e4e4;
    padding: 5px;
}

.productDetailedConatainer {
    min-height: 100vh;
    width: 100%;
    margin-top: 89px;
    position: absolute;
    background-color: #000;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Raleway';
    color: #FEFEFE;
}

.productCategoryConatainer {
    min-height: 100vh;
    width: 100%;
    margin-top: 89px;
    position: absolute;
    background-color: #000;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    color: #FEFEFE;
}

.productDetailedConatainer .halfScreen {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px
}

.productDetailedConatainer .halfScreen .bodytext {
    width: 80%;
    margin: 0 !important;
}

.rec-arrow {
    background-color: #fc9f68 !important;
}

.rec-arrow:hover {
    background-color: #f57224 !important;
}

.rec .rec-dot {
    background-color: #000 !important;
    box-shadow: 0 0 1px 3px #fc9f68 !important;
}

.rec .rec-dot_active {
    background-color: #fc9f68 !important;
    box-shadow: 0 0 1px 3px #f57224 !important;
}

@media (max-width: 668px) {
    .productDetailedConatainer {
        flex-direction: column;
        z-index: 1;
        justify-content: start;
    }
    .productDetailedConatainer .halfScreen {
        width: 100%;
        margin-top: 10px;
    }
}

/* footer */

.footer {
    background-color: #201F1F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer .footerContainers {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.footer .footerContainers .shopInfo {
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .footerContainers .shopInfo .phoneTag {
    color: #fff
}

@media (max-width:1200px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer .footerContainers {
        margin: 20px;
    }
}

/* orders */

.ordersContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #000;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #f16a28
}

.ordersContainer:first-child {
    margin-top: 110px;
}

.dateContainer {
    background-color: #201F1F;
    width: 50%;
    margin: 5px;
    border-radius: 12px;
    text-align: center;
    align-self: center;
}

.buyerGoodsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    background-color: #201F1F;
    margin: 15px;
    border-radius: 12px;
}

@media (max-width:1200px) {
    .ordersContainer {
        width: 95%;
    }
    .dateContainer {
        width: 65%;
    }
}

.customOverlay {
    background-color: #201F1F;
    
}

.customModal {
    border: 1px solid #F16A28;
    background: #201F1F !important;
    font-family: 'Raleway';
    border-radius: 12px;
    display: flex;
}

.form-control {
    margin-top:5px;
    margin-bottom:5px;
    padding-left: 5px;
    padding-right: 5px;
}